<!-- INICIO FOOTER -->
<footer>
    <nav class="navbar container">
        <ul class="navbar__items">
        <% if (false) { %>
            <li class="navbar__item">
                <a class="navbar__link" href="/shop">VER TIENDA</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/admin">ADMIN</a>
            </li>
        <% } else { %>
            <li class="navbar__item">
                <a class="navbar__link" href="/shop">SHOP</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/auth/register">REGISTRARSE</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="shop/contact">CONTACTO</a>
            </li>
        <% } %>
        </ul>
        <picture>
            <img src="/img/branding/isotype.svg" alt="">
        </picture>
    </nav>
    <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
</footer>
<!-- FIN FOOTER -->

<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>