<!DOCTYPE html>
<html lang="es">
<head>
    <title> <%= title%>> </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="js/glide.js"></script>


</head>
<body>
<!-- INICIO HEADER -->
<header>
    <nav class="navbar container">
        <picture class="navbar__logo">
            <a href="./index.html">
                <img src="./img/branding/logo_light_horizontal.svg" alt="isologotipo de la Marca FunkoShop">
            </a>
        </picture>
        <ul class="navbar__menu">
            <li class="navbar__item with-submenu">
                <a href="./pages/shop/shop.html" class="navbar__link with-icon" >SHOP<iconify-icon icon="tabler:chevron-down"></iconify-icon></a>
                <ul class="submenu">
                    <li  class="submenu_items">
                        <a class="submenu_link" href="">Funkos</a>
                    </li>
                    <li class="submenu_items">
                        <a class="submenu_link" href="">Remeras</a>
                    </li>
                    <li class="submenu_items">
                        <a class="submenu_link" href="">LLaveros</a>
                    </li>
                </ul>
            </li>
            <li class="navbar__item">
                <a href="./pages/shop/contact.html" class="navbar__link">CONTACTO</a>
            </li>
            <li class="navbar__item">
                <a href="./pages/admin/login.html" class="navbar__link">LOGIN</a>
            </li>
            <li class="navbar__item">
                <a href="./pages/shop/cart.html" class="navbar__cart">
                    <img src="./img/icons/cart-icon.svg" alt="icono de carrito">
                </a>
            </li>
        </ul>
    </nav>
</header>
<!-- FIN HEADER -->