
.shop-container{
    display: flex;
    margin-top:var(--spacing-68) ;
    gap:var(--spacing-24);

}

.shop-collection{

    align-items: center;
}

.shop-collection__items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.shop-collection___content{
    gap: var(--spacing-24);
}

.aside_shop{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: 3rem;
    margin:0 auto;
}



.aside_title{
    font-size: var(--font-large800);
    font-weight: 500;
}

.aside_precio{
    display: flex;
    gap: var(--spacing-8);
    justify-content: space-between;
}

.aside_precio input{
    Width:4rem;
    Height:2rem;
    text-align: center;
    margin:0 auto;
    padding: 1rem;

   
}

.aside_filter{
    display: flex;
    font-size: 0.9rem;
    gap:0.4rem;
}

.filter{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 3px;
}

.pagination{
    text-align: center;
}